lazy-lock.json
qutebrowser/.config/qutebrowser/bookmarks/urls
qutebrowser/.config/qutebrowser/bookmarks/urls
qutebrowser/.config/qutebrowser/bookmarks/urls
qutebrowser/.config/qutebrowser/qsettings/QtProject.conf
tmux/.local/bin/kubectl
